.main {
	width: calc(100% - 2em);
	max-width: 60em;
	margin: auto;
	margin-top: 1rem;
	padding-bottom: 1em;
	min-height: calc(100vh - 12rem);
}

.footer {
	font-size: small;
	text-align: center;
	margin-top: 2rem;
	padding: 1em;
	border-top: solid 1px #eef;
}
