.sidebar {
	text-align: center;
	background: #dde;
	padding: 1em;
}

@media (min-width: 900px) {
	.main {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	.content {
		flex-grow: 1;
	}

	.sidebar {
		flex-shrink: 0;
		text-align: center;
		width: 16em;
		margin-right: 2em;
	}
}

.pokemons {
	margin: 0;
}

.nameLink {
	width: 100%;
}

.activeLink {
	color: #429;
	font-weight: bold;
}

.activeLink:hover {
	color: #61b;
}

.pagination {
	display: flex;
	justify-content: space-between;
}
