.wrapper {
	max-width: 40em;
	margin: auto;
}

.title {
	text-align: center;
}

.links > *:not(:first-child) {
	margin-left: 1em;
}

.activeLink {
	font-weight: bold;
}

.image {
	zoom: 2;
}

.stats {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-top: 0;
	margin-left: -1em;
}

.stat {
	list-style-type: none;
	width: calc(50% - 1em);
	margin-left: 1em;
	margin-top: 1em;
	padding: 0.5em 1em;
	border: solid 1px #ccd;
	border-radius: 0.5em;
}

@media (min-width: 900px) {
	.stat {
		width: calc(33.333333% - 1em);
	}
}

@media (min-width: 1200px) {
	.stat {
		width: calc(25% - 1em);
	}
}
