:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.header {
	padding: 1em;
	border-bottom: solid 1px #888;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	list-style-type: none;
	margin-left: 1em;
}

.nav a {
	font-weight: bold;
	text-decoration: none;
	color: #924;
	padding: 0.5em;
	border-radius: 0.5em;
}

.nav a.active {
	background: #ddd;
}

.nav a:hover {
	color: #c07;
}

.wrapper {
	padding: 1em;
	position: relative;
	max-width: 48em;
}
